* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.shadow {
    box-shadow: 0 6px 15px rgba(206, 212, 218, .3);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.list {
    margin-left: 150px;
}

.list li {
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
    padding: 25px;
}

.list li:hover {
    color: #fe5f34;
    transition: 0.5s;
}

.logo img {
    height: 80px;
    width: 50px;
    margin-left: 40px;
}

.but button {
    margin-right: 40px;
    border-radius: 35px;
    min-width: 120px;
    background-color: #ff7a57;
    height: 40px;
    border-color: #ff7a57;
    color: #fff;
    font-weight: bold;
    /* transition: smooth; */
    transition-duration: 0.6s;
}

.but button:hover {
    background-color: #fe5f34;
    color: rgb(67, 30, 30);
    cursor: default;
}

.section {
    margin-top: 100px;
    /* margin-right: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
    margin-left: 35px;
}

h4 {
    color: #495057;
    font-size: 25px;
    margin-bottom: 4px;
}

h2 {
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 6px;
}

p {
    font-size: 22px;
    color: #495057;
    margin-bottom: 12px;
    letter-spacing: .6px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}

.man {
    width: 495px;
    height: 495px;
}

.btnintro {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 16px;
    color: #fff;
}

.btnintro1 {
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    background-color: #ff7a57;
    height: 45px;
    width: 100px;
    border-color: #ff7a57;
    color: white;
}

.btnintro button:hover {
    background-color: #fe5f34;
    color: rgb(67, 30, 30);
    cursor: default;
    transition-duration: 0.6s;
}

.btnintro2 {
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    background-color: #ff7a57;
    height: 45px;
    width: 120px;
    border-color: #ff7a57;
    color: white;
}

.icons {
    margin-top: 20px;

}

.icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 3px;
}

.icons a img:hover {
    transition-duration: 0.6s;
    background-color: #fe5f34;
    color: rgb(67, 30, 30);
    cursor: pointer;
    mix-blend-mode: multiply;
}

.projectsec {
    position: relative;
    max-width: 650px;
    width: 95%;
    margin: 0 auto;
    border-radius: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    gap: 40px;
    border: 1px solid #dee2e6;
    padding: 20px 0;
    margin-top: -50px;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 30px rgba(173, 181, 189, .4);
    text-align: center;
    align-items: center;
    justify-content: center;

}

.projectsec .project-items {
    border-right: 1px solid #dee2e6;
    text-align: center;
    padding-right: 20px;
}

.project-items h2 {
    font-size: 32px;
}


.projectsec .project-items:last-child {
    border-right: none
}

/* ---------------about section css---------- */
.aboutsection {
    display: flex;
    margin-top: 90px;
    margin-bottom: 100px;
    /* align-items: center; */
    /* justify-content:space-between; */
}

.aboutsection img {
    max-width: 100%;
    height: auto;
    border: 1px solid #040404;
    box-shadow: 0 0 30px rgba(173, 181, 189, .4);
}

.aboutimgdiv {
    margin-left: 32px;
    width: 40%;

}

.abouttext {
    margin-left: 80px;
    margin-right: 40px;
    padding-right: 20px;
}

.abouttext h6 {
    font-size: 26px;
    padding-bottom: 8px;
    font-family: sans-serif;
}

.abouttext p {
    font-size: 17px;
    /* font-family:Arial, Helvetica, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-bottom: 10px;
}

.aboutsection button:hover {
    background-color: #fe5f34;
    color: rgb(67, 30, 30);
    cursor: default;
    transition: 0.6s;
}


/*----------------- about section over------------- */

/*----------------- service section------------- */
.servicetext {
    text-align: center;
    color: #495057;
    /* font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" ; */
    /* font-weight: lighter; */
}

.servicetext h6 {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    padding-top: 7px;
}

.servicetext p {
    letter-spacing: .6px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    padding-top: 35px;
}

.sevicecards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 110px;
}

.sub-cards img {
    width: 100px;
    height: 100px;

    mix-blend-mode: multiply;
    /* padding-top: 32px; */
}

.sub-cards h5 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 16px;
    font-size: 16px;
}

.sub-cards {
    width: 200px;
    height: 230px;
    box-shadow: 0 0 3px;
    border: 1px solid rgb(250, 249, 249);
    padding-top: 30px;


}

.sub-cards:hover {
    background-color: #fe5f34;
    color: rgb(249, 245, 245);
    cursor: default;
    transition: 0.6s;

}

.sub-cards img:hover {
    background-color: #fe5f34;
    color: rgb(67, 30, 30);
    cursor: default;
    transition: 0.6s;

}

.mainprogress1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    margin-bottom: 24px;
    margin-top: 28px;
}

.mainprogress2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
}

.subprogress {
    width: 50%;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: lighter;
    padding: 18px;

}

.subprogress h6 {
    padding-bottom: 14px;
}

.progressblock {
    /* background-color: #ff7a57!important */
    background-color: #eaf0fc;
    border-radius: 0.2rem;
    height: 5px;
    border: 1px solid black;
}

.progresspercent1 {
    border-radius: 0.2rem;
    height: 4px;
    border: 0.2px solid black;
    width: 60%;
    background-color: #fd724f;
}

.progresspercent2 {
    border-radius: 0.2rem;
    height: 4px;
    border: 0.2px solid black;
    width: 90%;
    background-color: #fd724f;
}

.progresspercent3 {
    border-radius: 0.2rem;
    height: 4px;
    border: 0.2px solid black;
    width: 75%;
    background-color: #f57d5f;
}

.progresspercent4 {
    border-radius: 0.2rem;
    height: 4px;
    border: 0.1px solid black;
    width: 82%;
    background-color: #fd724f;
}

/*  portfolio  */
.portfolio {
    margin-top: 110px;
}

.portfolioimg {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;

}

.gridimg1 img {
    width: 270px;
    height: 300px;

}
.gridimg1
{
    position: relative;
}
.gridimg1 .overlay {
    position: absolute;
    height: 0%;
    transition: height 0s;
    top: 0;
    opacity: 0.6;
    overflow: hidden;
   
}
.gridimg1:hover .overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transition: height 2s;
    background-color: #ed7253;
}
.overlay h5{
    text-align: center;
    padding-top: 50%;
    font-size:20px;
}
.overlay a img{
    width: 20px;
    height: 20px;
    margin-top: 11px;
    /* gap: 10px; */   
}
.overlayicon{
    /* padding-left: 111px; */
    /* gap: 10px; */
    display: flex;
    justify-content: center;
    gap: 20px;
}
.gridimg2 img {
    width: 270px;
    height: 260px;
}

.gridimg3 img {
    width: 270px;
    height: 300px;
}

.gridimg4 img {
    width: 270px;
    height: 260px;
    padding-top: 10px;
}

.gridimg5 img {
    width: 270px;
    height: 300px;
    margin-top: -34px;
}

.gridimg6 img {
    width: 270px;
    height: 260px;
    padding-top: 10px;
}